@{
    ViewBag.Title = "Starch Web Service HMI";
}
<body>
    <div id="wrapper">
        @Html.Partial("_LayoutNavbar")
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <b class="panel-unit" align="left "><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Fine Extractor Overview </b>
                                <div style="display: inline-block;">
                                    <button style="margin-left: 15px;" onclick="location.href='@Url.Action("FEX01", "Fex")'; return false;" type="button" class="btn btn-secondary"> FEX01 </button>
                                    <button onclick="location.href='@Url.Action("FEX02", "Fex")'; return false;" type="button" class="btn btn-secondary"> FEX02 </button>
                                    <button onclick="location.href='@Url.Action("FEX34", "Fex")'; return false;" type="button" class="btn btn-secondary"> FEX34 </button>

                                </div>



                            </div>
                            <div class="panel-body">
                                <div>
                                    <object data="/Content/FEX/FEXOverview.svg" type="image/svg+xml" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
</body>